@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
      font-family: 'Baloo Da 2', cursive;
  }
  input[type=submit]{
    background-color: #FF4B00;
    color:white !important;
  }

  input[type=submit]:hover{
    background: linear-gradient(180deg, #616161 0%, #353535 100%);
  }

  button{
    background-color: #FF4B00 !important;
    color:white !important;
  }
  
  button:hover{
    background: linear-gradient(180deg, #616161 0%, #353535 100%);
  }

  
  th,td,tr{
    border: 1px solid bisque !important;
    text-align: center;
  }
 
}

.addExam-form input,select{
  height: 35px !important;
  
}

.addExam-form .form-control{
  padding: 0;
}
.addExam-form span{

  margin: 0 !important;
}

.addExam-form .label-text{
  margin-bottom: 5px;
}


.addExam-form label{
  padding: 2px 8px !important;
  font-weight: 600 !important;
}

.loading-indicator:before {
    content: '';
    background: #00000080;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .loading-indicator:after {
    content: ' ';
    position: fixed;
    top: 40%;
    left: 45%;
    z-index: 10010;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:1.2rem;        
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #0474bf; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}